/*--------------------------------------------------------------
  # Footer
  --------------------------------------------------------------*/
footer {
  text-align: center;
  color: #2bbbad;
  padding: 20px 0;
  background: #000;
}

footer .copyright {
  margin-bottom: 0.3rem;
}
